a {
    text-decoration: none;
    color: white;
}
 
a:hover, a:active{
    color: lightgray;
}
 
.navigation-items{
    list-style-type: none;
    padding: 0;
    margin: 0;
}
 
mat-toolbar{
    border-radius: 4px;
}
 
@media(max-width: 959px){
    mat-toolbar{
        border-radius: 0px;
    }
}

.customMarginLeft {
    margin-left: 2rem;
}

.imgLi {
    width: 40px;
}

.badge {
    height: 30px;
    width: 30px;
    font-size: 16px;
    color: white;
    background-color: #35badb;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    right: 10px;
    border-radius: 50%;
}






header {
    display: flex;
    background-color: white;
    margin: 0;
    padding: 5px 5%;
    color: whitesmoke;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
}

.brand {
    flex: 1;
    display: flex;
    align-items: center;
}

.imgHeader {
    height: 35px;
    border-radius: 50%;
    margin-right: 17px;
}



h5 {
    font-family: 'Lobster', cursive;
    font-size: 23px;
    margin: 0;
    letter-spacing: 1px;
    color: rgb(52, 186, 219);
    background: linear-gradient(
      90deg,
      rgba(52, 186, 219, 0.9878326330532213) 44%,
      rgba(0, 255, 190, 1) 100%
    );
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

